.speech {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: black;
  }
  .Direction {
    font-family: "Garamond", Times, serif;
    font-size: 20px;
    color: red;
    
  }
  
  .name 
  {
    font-size: 120%;
    overflow: hidden;
    background-color: cadetblue;
    
  }
  .name2
  {
    font-size: 120%;
    overflow: hidden;
    background-color: cadetblue;
  }
table,th,td{
    
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 10PX;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }
  tr:nth-child(even)
  {
    background-color: grey;
    text-emphasis-color: black;
  }
  p2:hover
  {
    background-color: lightcyan;
  }
  h6
  {
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
  }
  h1
  {
    background-color: lightblue;

  }
  h1:hover
  {
    color:pink;
    background: blur;
    background-color: burlywood;
    text-shadow: 0 0 3px black,0 0 5PX red;
  }
  .name:hover
  {
    color:pink;
    background: blur;
    background-color: burlywood;
    text-shadow: 0 0 3px black,0 0 5PX red;
  }
  .name2:hover
  {
    color: pink;
    background: blur;
    background-color: burlywood;
    text-shadow: 0 0 3px black,0 0 5PX red;
  }
  .navbar{
    margin: 0;
    padding: 0
  }

  .navbar li{
    float: left;
    color: black;
    background-color: lightblue;
  }

  .navbar a{
    display: block;
    padding: 20px;
  }
